<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">

<head>
  {{- partial "head.html" . -}}
  {{- partial "styles.html" . -}}
  <script type="module" src="/appmiral-components/all.js"></script>
  {{- partial "alpine.html" . -}}
  {{- partial "scripts.html" . -}}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
  <appmiral-app theme="appmiral-light">
    <appmiral-bar slot="top" label="{{site.Title}}" logo="/logo.svg"></appmiral-bar>
    
    <appmiral-pane slot="left">
      {{ $currentPage := . -}}
      {{- range site.Menus.main -}}
      {{- $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
      <a href="{{.URL}}" style="text-decoration: none;">
        <appmiral-tool icon="{{ .Params.icon }}" label="{{ .Name }}" {{ if $active -}} active {{- end -}}></appmiral-tool>
      </a>
      {{ end -}}

      <a slot="footer" href="/settings" style="text-decoration: none;">
        <appmiral-tool  icon="settings" label="Settings" ></appmiral-tool>
      </a>
    </appmiral-pane>

    <ul slot="bottom" style="list-style: none;">
      <li style="display: inline;"><a href="">Index</a></li>
      <li style="display: inline;"><a href="">Page 1</a></li>
      <li style="display: inline;"><a href="">Page 2</a></li>
      <li style="display: inline;"><a href="">Page 3</a></li>
      <li style="display: inline;"><a href="">Page 4</a></li>
    </ul>

    {{ block "main" . }}{{ end }}



  
    {{ with .GetPage "sidebar" }}
    <appmiral-pane slot="right" style="width: 380px;">
      {{ .Content }}
    </appmiral-pane>
    {{ end }}

  </appmiral-app>
</body>

</html>