<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">

<head>
  {{- partial "head.html" . -}}
  {{- partial "styles.html" . -}}
  {{- partial "scripts.html" . -}}
  {{- partial "appmiral-components.html" . -}}
</head>

<body>
  <appmiral-app theme="appmiral-light">
    <appmiral-bar slot="top" label="{{site.Title}}" logo="https://tailwindui.com/img/logos/workflow-mark.svg?color=rose&shade=500"></appmiral-bar>
    
    <appmiral-pane slot="left">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
      <a href="{{.URL}}" style="text-decoration: none;">
        <appmiral-tool icon="{{ .Params.icon }}" label="{{ .Name }}" {{ if $currentPage.HasMenuCurrent "activity" . }}active{{ end }}></appmiral-tool>
      </a>
      {{end}}

      <a slot="footer" href="/settings" style="text-decoration: none;">
        <appmiral-tool  icon="settings" label="Settings" ></appmiral-tool>
      </a>
    </appmiral-pane>

    {{ block "main" . }}{{ end }}

    {{ with .GetPage "sidebar" }}
    <appmiral-pane slot="right" style="width: 380px;">
      {{ .Content }}
    </appmiral-pane>
    {{ end }}

  </appmiral-app>
</body>

</html>